body {
    background-image: url(img/creampaper.png);
    /* Background pattern from Toptal Subtle Patterns: https://www.toptal.com/designers/subtlepatterns/ */
    font-family: 'Open Sans', sans-serif;
    
    font-size: 1em;
} 

h1, h2, h3 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
    color: rgb(45, 45, 45);
}

li {
    list-style: none;
}